:root {
  /* background colors */
  --c-background-1: #1b1484; /* header */
  --c-foreground-1-1: white;
  --c-foreground-1-2: #00fed9;

  --c-background-2: #a7bac9; /* sidebar */
  --c-foreground-2-1: var(--c-background-1);
  --c-foreground-2-2: black;

  --c-background-3: #f7f7f7; /* main background */
  --c-foreground-3-1: var(--c-background-1);
  --c-foreground-3-2: var(--c-background-2);

  /* filter colors */
  --c-red: red;
  --c-amber: orange;
  --c-green: green;
  --c-lightgreen: lightgreen;
  --c-unknown: gray;

  --t-transition-duration: 0.2s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background-color: var(--c-background-3);
}

html,
body,
#app {
  height: 100%;
}

.color-red {
  background-color: var(--c-red);
  color: white;
}

.color-amber {
  background-color: var(--c-amber);
}

.color-light-green {
  background-color: var(--c-lightgreen);
  color: white;
}

.color-green {
  background-color: var(--c-green);
  color: white;
}

.color-unknown {
  background-color: var(--c-unknown);
  color: white;
}

.color-black {
  background-color: black;
}

.page .btn {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: var(--c-background-3);
  color: var(--c-foreground-3-1);
  border: 1px solid var(--c-foreground-3-1);
  font-size: 18px;
  font-weight: 100;
}

.btn--large {
  padding: 16px;
  font-size: 22px;
}

.btn--wide {
  padding-left: 32px;
  padding-right: 32px;
}

.btn--black {
  background-color: var(--c-background-1) !important;
  color: var(--c-foreground-1-1) !important;
}

.page .btn:hover {
  cursor: pointer;
  transition: var(--t-transition-duration);
  background-color: var(--c-background-2);
  color: var(--c-foreground-2-1);
}

.loader {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__icon {
  animation-name: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 34px;
}

@keyframes load {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.bold {
  font-weight: bold;
}
.footer {
padding: 10px;
border-top:1px solid #ddd;
text-align:center;
margin-top:30px;
color: #ccc;
}

.container {
  min-height: 80%;
}