.header {
  padding: 16px 40px 24px 40px;
  display: flex;
  align-items: flex-end;
  grid-area: h;
  background-color: var(--c-background-1);
  color: var(--c-foreground-1-1);
}
.navbar {
  height:70px;
  padding: 0;
}
.header-top{
  padding:0px 40px 0 40px;
  margin-bottom: 44px;
}
.header ul li {
  border-right: 1px solid #645ebb;
  }
  .header ul li:first-child{

    border-left: 1px solid #645ebb;
    }
.navbar-expand-lg .navbar-nav a.nav-link {
  color: #ffffff;
  height: 70px;
  line-height: 50px;
  min-width: 100px;
  padding-left:30px;
  padding-right:30px;
  text-align: center;
}
.header a.nav-link:hover{

  background: #ffffff12;
  }

.title {
}
.title__logo {
  height: 65px;
  vertical-align: middle;
  margin-right: 140px;
  margin-left: 50px;
}

.title__text {
  color: var(--c-foreground-1-1);
  font-weight: bold;
  font-size: 34px;
  vertical-align: middle;
}
