.page {
  height: 100%;
  display: grid;
  grid-template-areas:
    'h h'
    's m';
  grid-template-columns: 15% 85%;
  grid-template-rows: 120px 1fr;
}

.sidebar {
  padding: 10px;
}

.sidebar__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #336699;
  margin-bottom: 10px;
}

.sidebar__item i {
  font-size: 24px;
  margin-right: 8px;
}

.sidebar__item span {
  font-weight: bold;
  margin-left: 11px;
}

.sidebar__tasks {
  margin-bottom: 10px;
}

.sidebar__tasks span {
  font-weight: bold;
  margin-left: 8px;
}

.sidebar__eye {
  margin-bottom: 40px;
}

.sidebar__eye span {
  font-weight: bold;
  margin-left: 5px;
}

.sidebar__link {
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: column;
}

.info__label {
  margin-top: 24px;
}

.info__value {
  font-weight: bold;
  margin-right: 10px;
}

.info__label--uploaded {
  margin-top: 16px;
}

.info__label--category {
  font-weight: bold;
  margin-top: 24px;
}

.info__label--topic {
  font-weight: bold;
}

.info__label--author {
  margin-top: 24px;
}

.main {
  padding: 10px;
  grid-area: m;
  overflow: auto;
  background-color: var(--c-background-3);
}

.filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter__label {
  color: var(--c-foreground-3-1);
  font-size: 18px;
  font-weight: 100;
}

.filter__btn {
  padding: 8px 16px;
  border-radius: 10px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  background-color: var(--c-background-3);
  border: 2px solid var(--c-foreground-3-1);
}

.filter__btn:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--c-background-2);
  color: var(--c-foreground-2-1);
}

.filter__dot {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 100%;
}

.rule__section {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: baseline;
}

.rule__textAsImage {
  grid-row-start: 1;
  grid-row-end: 110;
  margin-top: 0px;
  font-size: 24px;
}

.rule__image {
  grid-row-start: 2;
  grid-row-end: 110;
  margin-top: 8px;
}

.rule:first-of-type {
  margin-top: 0px;
}

.rule {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 20px 1fr;
  box-shadow: 0 1px 4px 0 gray;
}

.rule__title {
  margin-right: 30px;
  font-size: 24px;
  width: 100px;
  margin-bottom: 4px;
}

.rule__imageRules {
  margin-top: 24px;
  margin-bottom: 24px;
}

.rule__detail {
  padding: 2px 16px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
}

.rule__field {
  padding: 2px 16px;
  border-right: 1px solid gray;
  font-size: 20px;
}

.rule__field:last-of-type {
  border-right: 0;
}

.rule__name {
  font-weight: bold;
}

.rule__name_addons {
  font-weight: normal;
  font-size: 16px;
}

.rule__view {
  text-align: right;
}

.rule__link {
  color: blue;
  text-decoration-line: underline;
  font-size: 18px;
}

.rule__link:hover {
  cursor: pointer;
}

.rule__info {
  padding: 0 48px;
}

.articleUrl {
  display: flex;
  margin-bottom: 40px;
  margin-top: -40px;
  align-items: baseline;
}

.articleUrl__title {
  margin-right: 0px;
  font-size: 24px;
  width: 120px;
}

.articleUrl__url {
  font-size: 16px;
  padding: 3px;
}

.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 500px;
  height: auto;
  display: block;
  z-index: 999;
}

.rating {
  display: flex;
  margin-bottom: 0px;
  align-items: baseline;
  cursor: pointer;
}

/* 
.rating:last-of-type {
	margin-bottom: 40px;
} 
*/

.rating__title,
.sentiment_title,
.emotion_title {
  margin-right: 0px;
  font-size: 24px;
  width: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.rating-customer {
  display: flex;
  font-size: 16px;
}

.rating-customer:hover {
  background-color: var(--c-background-2);
  color: var(--c-foreground-2-1);
}

.rating-customer-selected {
  font-size: 20px;
  background-color: var(--c-background-1) !important;
  color: var(--c-foreground-1-1) !important;
}

.rating-customer__name {
  padding: 3px;
  width: 190pt;
}

.rating-summary {
  display: grid;
  grid-template-columns: repeat(4, 120px);
}

.rating-summary__item {
  padding: 3px;
}

.rating-summary__item i {
  float: right;
  padding-top: 3px;
  padding-right: 8px;
}

.feedback {
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 120px;
}

.feedback__btn {
  font-size: 16px;
  padding: 5px 8px;
  width: 180px;
}

.feedback__btn:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--c-background-2);
  color: var(--c-foreground-2-1);
}

.ruleMgmt_title {
  font-size: 24px;
}

.ruleMgmt_description {
  margin-top: 12px;
}

.ruleMgmt_description ol {
  margin: 24px 48px;
}

.ruleMgmt_description a {
  margin-left: 24px;
}

.ruleMgmt_description li {
  margin-top: 24px;
}

.ruleMgmt_description form {
  margin-top: 24px;
  margin-left: 24px;
}

.ruleMgmt_description form input {
  margin-left: 24px;
}

.ruleMgmt_button {
  background-color: var(--c-background-2);
  color: var(--c-foreground-2-1);
  border: 2px solid var(--c-foreground-2-1);
  margin: 10px 0px;
  padding: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.ruleMgmt_button:disabled {
  background-color: var(--c-background-3);
  color: var(--c-foreground-3-1);
  border: 2px solid var(--c-foreground-3-2);
}

.stats_title {
  font-size: 24px;
}

.stats_description {
  margin-top: 12px;
}

.stats_customer {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.stats_customer__label {}

.stats_customer__label .label {
  font-weight: bold;
  margin-right: 20px;
}

.stats_customer__customer {
  font-weight: bold;
}

.stats_customer__matches {}

.stats_customer__matches .label {
  font-weight: bold;
  margin-right: 28px;
}

.stats_customer__matches_pct {
  font-weight: bold;
  margin-right: 30px;
}

.stats_confusion_matrix {
  margin-top: 20px;
}

.stats_confusion_matrix table {}

.stats_confusion_matrix td {
  text-align: center;
  width: 100px;
  padding: 5px;
}

.stats_confusion_matrix th {
  font-weight: bold;
  padding: 5px 15px;
}

.stats_confusion_matrix th.ratings {
  background-color: var(--c-background-1);
  color: white;
}

.stats_confusion_matrix th.vertical {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  width: 50px;
}

/*  #e9e9e9; */
.stats_confusion_matrix .total {
  background-color: var(--c-background-2);
  font-weight: bold;
}

.stats_confusion_matrix .match {
  background-color: #ccffcc;
  font-weight: bold;
}

.not_set {
  color: lightgray;
}

.sentiment,
.emotion {
  padding: 0pt 0pt 20pt 0pt;
  display: flex;
}

.feelingsContainer {
  display: block;
  margin: 0;
  padding: 0;
}

.sentiment_values {
  padding: 0pt 0pt 20pt 0pt;
  display: inline;
}

.sentiment_item {
  display: table-cell;
  border: 1pt solid lightgray;
  padding: 10pt;
  margin-right: 0pt;
}

.emotion_values {
  display: flex;
  margin-bottom: 0px;
  align-items: baseline;
}

.emotion_header {
  font-size: 20px;
  padding: 3pt 10pt 3pt 10pt;
  /* background-clip: border-box; */
  background-color: var(--c-background-1) !important;
  color: var(--c-foreground-1-1) !important;
}

.emotion_value {
  padding: 3pt 10pt 3pt 10pt;
  align-items: center;
  font-size: 16px;
}


.emotion_value_normal {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  /* background-color: red; */
}

.emotion_value_small {
  display: block;
  width: 100%;
  font-size: 11px;
  text-align: center;
  /* background-color: red; */
}

#moreOptionsContainer {
  border-top: 2px solid #cccccc;
  padding: 5px 10px;
  margin-top:15px;
  margin-bottom:15px;
}

#moreOptions {
  display: none;
}

#moreOptions p{
  flex: 1;
}