.status-header {
	font-weight: bold;
	font-size: 12pt;
	padding-bottom: 0pt;
	padding-top: 2pt;
	margin-top: 2pt;
	margin-bottom: 0;
	
}

.status-header date {
	font-weight: bold;
	font-size: 12pt;
	padding-bottom: 0pt;
	padding-top: 0pt;
	margin-top: 1pt;
	margin-bottom: 0;
}

.status-time {
	margin: 0 0 0 0pt;
	padding: 0;
	font-size: 10pt;
	font-weight: bold;
}

.status-time-value {
	font-size: 10pt;
	font-weight: lighter;
}

.status-value {
	font-weight: lighter;
	font-size: 12pt;
	padding-bottom: 0pt;
	margin: 0;
}

.status-value tr {
	padding-bottom: 0pt;
	margin: 0;
}

.status-value td {
	padding-bottom: 0pt;
	margin: 0;
}

.status-table {
	border: 1px solid #dee2e6;
}

.status-table td {
	border-right: 1px solid #dee2e6;
}

.status-bottom-row tr {
	margin: -10pt 0 0 0 !important;
	padding: 0;
	border-spacing: 0;
}

.status-bottom-row td {
	margin: -10pt 0 0 0 !important;
	padding: 0;
}

.status-subtitle {
	font-weight: bold;
	font-size: 8pt;
	padding: 0;
	margin: -10pt 0 0 0 !important;
}

.status-table td {
	padding: 3pt 10pt 2pt 10pt;
}

.status-middle-row {
	border-top:none !important;
	border-bottom: none !important;
}

.table-bordered .no-border td {
	margin: 1pt;
}

.table-button {
	margin-top: 8pt;
}