.modal__overlay {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-close {
  padding-right: 8px;
  font-size: 34px;
  text-align: right;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal-body {
  padding: 0 48px 48px 48px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.modal__title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 100;
}

.upload-box {
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed gray;
}

.upload__text {
  font-size: 24px;
}

.upload-progress {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upload__filename {
  font-size: 24px;
  font-weight: bold;
}

.progress-bar {
  height: 24px;
  margin: 12px 0;
  background-color: gray;
}

.progress-bar__progress {
  height: 100%;
  overflow: hidden;
  background-color: var(--c-background-2);
}

.upload__state {
  font-size: 18px;
}

.upload-final {
  margin-top: auto;
}

.upload__btn {
  margin-top: 32px;
  float: right;
}

.upload-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upload-info__text {
  margin-bottom: 24px;
  display: block;
  font-size: 18px;
}

.upload-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.upload-input-group {
  display: flex;
  flex-direction: column;
}

.upload__label {
  margin-bottom: 8px;
  font-size: 18px;
}

.upload__input {
  padding: 8px;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: var(--t-transition-duration);
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

/*     width: 80%;
    height: 80%;
 */
.modal__box {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--c-background-3);
  color: var(--c-foreground-3-1);
  border: 5px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px #555;
  padding-top:20px;
}

.modal__close {
  padding: 0;
  display: inline-block;
  float: right;
}

.modal__close-icon {
  float: right;
  cursor: pointer;
  font-size: 34px;
}

.modal__main {
  padding: 64px;
  overflow: auto;
  font-size: 20px;
}

.askUrl__main {
  text-align: center;
}

.askUrl__box {
  display: inline-block;
  text-align: left;
  margin: 0px 20px 20px 20px;
  width: 800px;
}

.askUrl__title {
  margin: 0;
}

.askUrl__inputLine {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.askUrl__inputText {
  flex: 1;
  font-size: 16px;
  padding: 0px 4px;
  border: 1px solid var(--c-foreground-3-1);
}

.askUrl__inputButton {
  background-color: var(--c-background-2);
  color: var(--c-foreground-2-1);
  font-size: 16px;
  padding: 4px;
}

.askFeedback__main {
  text-align: center;
}

.askFeedback__box {
  display: inline-block;
  text-align: left;
  margin: 0px 20px 20px 20px;
  width: 900px;
}

.askFeedback__title {
  margin: 0;
}

.askFeedback__inputLine {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.askFeedback__inputText {
  flex: 1;
  font-size: 16px;
  padding: 0px 4px;
  border: 1px solid var(--c-foreground-3-1);
}

.askFeedback__inputButton {
  background-color: var(--c-background-2);
  color: var(--c-foreground-2-1);
  font-size: 16px;
  padding: 4px;
}

.modal_rating {
  display: flex;
  margin-bottom: 0px;
  align-items: baseline;
  cursor: pointer;
}

/* 
.modal_rating:last-of-type {
	margin-bottom: 40px;
} 
*/

.modal_rating__title {
  margin-right: 0px;
  font-size: 24px;
  width: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.modal_rating-customer {
  display: flex;
  font-size: 16px;
}

.modal_rating-customer__name {
  padding: 3px;
  width: 150px;
  font-size: 24px;
}

.modal_rating-summary {
  display: grid;
  grid-template-columns: repeat(4, 120px);
}

.modal_rating-summary__item {
  padding: 10px 3px 3px 3px;
}

.modal_rating-summary__item i {
  padding-top: 3px;
  padding-right: 8px;
  padding-left: 8px;
}

.modal_rating__red {
  background-color: #ffc0c0;
}

.modal_rating__amber {
  background-color: #f5d7a2;
}

.modal_rating__green {
  background-color: #bcf5bc;
}

.modal_rating__na {
  background-color: #ecebeb;
}

.modal_rating-summary_comment {
  width: 250px;
  margin-left: 10px;
  padding: 2px 10px;
  height: min-content;
  margin-top: 5px;
}

#viewDataContainer .modal-dialog {
  max-width:none;
  width:90%;
}
.charts-container { display: flex;     min-height: 300px;
  min-width: 100%; flex-wrap: wrap;} 
.chart { width:250px; position: relative; height:250px;}