<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="stylesheets/common.css" />
    <link rel="stylesheet" href="stylesheets/index.css" />
    <link rel="stylesheet" href="stylesheets/header.css" />
    <link rel="stylesheet" href="stylesheets/modal.css" />
  </head>

  <body>
    <div id="app">
      <app-header></app-header>

      <div class="container container-fluid">
        <h3>Configuration</h3>
        <h4 id="notify"></h4>
        <ul class="nav nav-tabs">
          <li class="nav-item" v-for="table in tables" :key="table.id">
            <a :class="`nav-link ${selectedTable.id==table.id? 'active': 'link'}`" :href="`/admin.html#${table.id}`" @click="setSelectedTab(table.id)"
              >{{ table.name }}</a
            >
          </li>
        </ul>
        <div class="container bg-white">
          <br />
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <td v-for="column in selectedTable.columns" :key="column.name">
                  {{ (column.name.charAt(0).toUpperCase() + column.name.slice(1)).replace(/_/g,' ') }}
                </td>

                <td v-if="selectedTable.setEndpoint">Edit</td>
                <td v-if="selectedTable.deleteEndpoint">Delete</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="record in records" :key="record.id">
                <td v-for="column in selectedTable.columns">{{ record[column.name] }}</td>

                <td v-if="selectedTable.setEndpoint">
                  <button
                    type="button"
                    class="btn btn-primary-outline"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    @click="editButtonClicked($event,'Update Value',record)"
                  >
                    <i class="fas fa-pen"></i>
                  </button>
                </td>
                <td v-if="selectedTable.deleteEndpoint">
                  <a href="javascript:void(0)" style="color:red" @click="processDelete(record.id)"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>

          <div v-if="message" class="alert alert-success">{{message}}</div>
          <div v-if="error" class="alert alert-danger">{{error}}</div>
          <div class="row">
            <div class="col-sm-6" v-if="selectedTable.insertEndpoint">
              <h5>Insert into {{selectedTable.name}}:</h5>

              <div class="form-group" v-for="column in selectedTable.columns" :key="column.name" v-if="column.name !== 'id'">
                <p>{{ column.name}}:</p>
                <p v-if="column.type !== 'dropdown'">
                  <textarea :id="column.name" v-model="insertNewRecord[column.name]" class="form-control"></textarea>
                </p>
                <p v-if="column.type === 'dropdown'">
                  <select :id="column.name" v-model="insertNewRecord[column.name]" class="form-control">
                    <option v-for="option in column.options">{{option}}</option>
                  </select>
                </p>
              </div>
              <button type="submit" :class="processClasses" @click="processInsert();">
                Submit
              </button>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div v-for="field in modalContent" :key="field.id">
                  <p>{{ field.label}}: {{ !field.variable ? field.fieldValue: null}}</p>
                  <p v-if="field.fieldId && field.variable">
                    <textarea :id="field.fieldId" v-model="field.fieldValue" class="form-control">{{ field.fieldValue}}</textarea>
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="processUpdate()" data-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>

    <script src="components/header/index.js"></script>
    <script src="components/footer/index.js"></script>
    <script src="components/configuration/index.js"></script>
    <script src="components/users/index.js"></script>
  </body>
</html>
