<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>REACH Article Ad-Safety Analyser</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./stylesheets/common.css" />
    <link rel="stylesheet" href="./stylesheets/index.css" />
    <link rel="stylesheet" href="./stylesheets/header.css" />
    <link rel="stylesheet" href="./stylesheets/modal.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./vendor/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="api-util.js"></script>
  </head>

  <body>
    <div id="app">
      <app-header></app-header>
      <!--         <transition name="fade">
            <div class="modal__overlay" v-show="isAskNewUrlDocModalShowing">
                <div class="modal__box">
                    <div class="modal__close">
                        <i class="fas fa-times modal__close-icon" @click="hideAskNewUrl" title="Close"></i>
                    </div>
                    <div v-html="askNewUrlDoc" class="modal__main"></div>
                </div>
            </div>
        </transition>

 -->
      <transition name="fade">
        <div class="modal__overlay" v-show="isAskNewUrlDocModalShowing">
          <div class="modal__box">
            <div class="askUrl__main">
              <div class="askUrl__box">
                <div class="modal__close">
                  <i class="fas fa-times modal__close-icon" @click="hideAskNewUrl" title="Close"></i>
                </div>
                <h3 class="askUrl__title">Analyse an article</h3>
                <br />
                <div class="askUrl__inputLine">
                  <input class="form-control" type="text" id="newUrl" value="" placeholder="Enter your url here.." autofocus />
                </div>

                <div class="card card-body" id="moreOptionsContainer">
                  <p>
                    <a href="#" onclick="document.querySelector('#moreOptions').style.display = 'inherit'"> More options <i class="fa fa-caret-down"></i> </a>
                  </p>
                  <div id="moreOptions">
                    <p>
                      <label for="forceRescan"
                        ><input class="askUrl__inputForceRescan" type="checkbox" id="forceRescan" /> Re-scan and overwrite previous results</label
                      >
                    </p>
                    <p>
                      <label for="isSectionScan"><input class="askUrl__isSectionScan" type="checkbox" id="isSectionScan" /> Scan as a section</label>
                    </p>
                  </div>
                </div>
                <a href="#" class="btn btn-lg btn-primary" onClick="vm.analyseNewUrl();"><i class="fa fa-search"></i> Analyse</a>
              </div>
            </div>
          </div>
        </div>
      </transition>

      <transition name="fade">
        <div class="modal__overlay" v-show="isAskFeedbackModalShowing">
          <div class="modal__box">
            <div class="modal__close">
              <i class="fas fa-times modal__close-icon" @click="hideAskFeedback" title="Close"></i>
            </div>

            <div class="askFeedback__main">
              <div class="askFeedback__box">
                <h1 class="askFeedback__title">Set expected ratings for</h1>
                <br />
                <div class="modal_ratings">
                  <!-- to be able to use last-of-type selector -->
                  <div class="modal_rating" v-for="(customerRating, index) in this.article.ratings">
                    <div class="modal_rating-customer">
                      <span class="modal_rating-customer__name">{{customerRating.customer}}</span>
                      <div class="modal_rating-summary">
                        <span class="modal_rating-summary__item modal_rating__red" @click="setExpectedRating(customerRating.customer, 'RED')"
                          >Red <i v-bind:id="'modal_rating_' + customerRating.customer + '_RED'" class="rating-summary__icon_hidden"></i
                        ></span>
                        <span class="modal_rating-summary__item modal_rating__amber" @click="setExpectedRating(customerRating.customer, 'AMBER')"
                          >Amber <i v-bind:id="'modal_rating_' + customerRating.customer + '_AMBER'" class="rating-summary__icon_hidden"></i
                        ></span>
                        <span class="modal_rating-summary__item modal_rating__green" @click="setExpectedRating(customerRating.customer, 'GREEN')"
                          >Green <i v-bind:id="'modal_rating_' + customerRating.customer + '_GREEN'" class="rating-summary__icon_hidden"></i
                        ></span>
                        <span class="modal_rating-summary__item modal_rating__na" @click="setExpectedRating(customerRating.customer, 'N/A')"
                          >Unknown <i v-bind:id="'modal_rating_' + customerRating.customer + '_N/A'" class="rating-summary__icon_hidden"></i
                        ></span>
                      </div>
                      <input
                        v-bind:id="'modal_rating-summary_comment_' + customerRating.customer"
                        class="modal_rating-summary_comment"
                        type="text"
                        placeholder="comment"
                      />
                    </div>
                  </div>
                  <input class="askFeedback__inputButton" type="submit" value="Save ratings" onClick="vm.feedbackChange();" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <div class="container container-fluid">
        <h2>Article Ad-Safety Analyser</h2>
        <div class="row">
          <div class="sidebar col-sm-2">
            <a class="sidebar__link" href="manageRules.html" v-if="fileMeta.admin">
              <div class="sidebar__item sidebar__tasks">
                <i class="fas fa-tasks"></i>
                <span>Manage Rules</span>
              </div>
            </a>
            <a class="sidebar__link" href="showStats.html" v-if="fileMeta.admin">
              <div class="sidebar__item sidebar__tasks">
                <i class="fas fa-chart-line"></i>
                <span>Show Statistics</span>
              </div>
            </a>
            <a class="sidebar__link" :href="'classifyArticle?url=' + this.fileMeta.url" target="_blank" v-if="fileMeta.admin">
              <div class="sidebar__item sidebar__eye">
                <i class="far fa-eye"></i>
                <span>See JSON</span>
              </div>
            </a>

            <div class="info">
              <span class="info__label">Title:</span
              ><span class="info__value" v-if="article && article.input && article.input.title">{{article.input.title}}</span
              ><span class="info__value" v-else>-</span> <span class="info__label">Author:</span
              ><span class="info__value" v-if="article && article.input && article.input.author">{{article.input.author}}</span
              ><span class="info__value" v-else>-</span> <span class="info__label">Published:</span
              ><span class="info__value" v-if="article && article.input && article.input.published"
                >{{article.input.published.replace('T', ' ').replace('Z', '')}}</span
              ><span class="info__value" v-else>-</span>
            </div>
          </div>

          <div class="main col-sm-10">
            <div class="filters">
              <span class="filter__label">Filter by:</span>
              <button class="filter__btn filter__label" :class="{ 'btn--black': this.ratingFilters.includes('RED') }" @click="filterRatings('RED')">
                <div class="filter__dot color-red"></div>
                Red
              </button>
              <button class="filter__btn filter__label" :class="{ 'btn--black': this.ratingFilters.includes('AMBER') }" @click="filterRatings('AMBER')">
                <div class="filter__dot color-amber"></div>
                Amber
              </button>
              <button class="filter__btn filter__label" :class="{ 'btn--black': this.ratingFilters.includes('GREEN') }" @click="filterRatings('GREEN')">
                <div class="filter__dot color-green"></div>
                Green
              </button>
              <button class="filter__btn filter__label" :class="{ 'btn--black': this.ratingFilters.includes('N/A') }" @click="filterRatings('N/A')">
                <div class="filter__dot color-unknown"></div>
                Unknown
              </button>
            </div>

            <div class="articleUrl">
              <span class="articleUrl__title">Article</span>
              <span class="articleUrl__url"
                ><a :href="'https://' + this.fileMeta.url" target="_blank">
                  <!-- {{this.fileMeta.url}} -->
                  <i class="fas fa-link" style="margin-left: 0px;" :title="this.fileMeta.url"></i>
                </a>
                <i class="far fa-edit" style="margin-left: 20px; cursor: pointer;" title="Enter a new URL" @click="askNewUrl()"></i>
              </span>
            </div>

            <div class="rules">
              <div class="loader" v-show="isLoading">
                <i class="loader__icon fas fa-spinner"></i>
              </div>
              <div v-if="currentCustomerRating && currentCustomerRating.text">
                <div class="feelingsContainer">
                  <div class="sentiment">
                    <span class="sentiment_title">Sentiment&nbsp;</span>
                    <div class="sentiment_values">
                      <span class="sentiment_item" v-bind:class="{ 'color-unknown': article.sentiment==='unknown' }">unknown</span>
                      <span class="sentiment_item" v-bind:class="{ 'color-red': article.sentiment==='veryNegative' }">very negative</span>
                      <span class="sentiment_item" v-bind:class="{ 'color-amber': article.sentiment==='negative' }">negative</span>
                      <span class="sentiment_item" v-bind:class="{ 'color-unknown': article.sentiment==='neutral' }">neutral</span>
                      <span class="sentiment_item" v-bind:class="{ 'color-light-green': article.sentiment==='positive' }">positive</span>
                      <span class="sentiment_item" v-bind:class="{ 'color-green': article.sentiment==='veryPositive' }">very positive</span>
                    </div>
                  </div>

                  <div class="emotion">
                    <span class="emotion_title">Emotion&nbsp;</span>
                    <emotion-table v-bind:emotion="article.emotion"></emotion-table>
                  </div>
                </div>
                <div class="ratings">
                  <!-- to be able to use last-of-type selector -->
                  <div class="rating" v-for="(customerRating, index) in this.article.ratings">
                    <span class="rating__title" v-if="index == 0">Rating for</span><span class="rating__title" v-else>&nbsp;</span>
                    <div
                      class="rating-customer"
                      @click="setCurrentCustomer(customerRating.customer)"
                      :class="{ 'rating-customer-selected': customerRating.customer == currentCustomer }"
                    >
                      <span class="rating-customer__name">{{customerRating.customer}}</span>
                      <div class="rating-summary">
                        <span class="rating-summary__item" :class="{ 'color-red': customerRating.rating === 'RED' }"
                          >Red: {{getRatingCount(customerRating, 'RED')}}
                          <i v-bind:id="'rating_' + customerRating.customer + '_RED'" class="rating-summary__icon_hidden"></i
                        ></span>
                        <span class="rating-summary__item" :class="{ 'color-amber': customerRating.rating === 'AMBER' }"
                          >Amber: {{getRatingCount(customerRating, 'AMBER')}}
                          <i v-bind:id="'rating_' + customerRating.customer + '_AMBER'" class="rating-summary__icon_hidden"></i
                        ></span>
                        <span class="rating-summary__item" :class="{ 'color-green': customerRating.rating === 'GREEN' }"
                          >Green: {{getRatingCount(customerRating, 'GREEN')}}
                          <i v-bind:id="'rating_' + customerRating.customer + '_GREEN'" class="rating-summary__icon_hidden"></i
                        ></span>
                        <span class="rating-summary__item" :class="{ 'color-unknown': customerRating.rating === 'N/A' }"
                          >Unknown: {{getRatingCount(customerRating, 'N/A')}}
                          <i v-bind:id="'rating_' + customerRating.customer + '_N/A'" class="rating-summary__icon_hidden"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="feedback">
                  <button id="confirmFeedbackBtn" class="feedback__btn" @click="feedbackConfirm()">Confirm All Ratings</button>
                  <button class="feedback__btn" @click="askFeedback()">Set Expected Ratings</button>
                </div>

                <div v-if="filteredRulesCount()">
                  <div class="rule__section" v-if="filteredTextRules().length">
                    <div class="rule__textAsImage">Text</div>

                    <div class="rule" v-for="rule in filteredTextRules()">
                      <div
                        :class="{
		                                    'color-red': rule.rating === 'RED',
		                                    'color-amber': rule.rating === 'AMBER',
		                                    'color-green': rule.rating === 'GREEN',
		                                    'color-unknown': rule.rating === 'N/A'}"
                      ></div>
                      <div class="rule__detail">
                        <div class="rule__field">{{rule.rule}}</div>
                        <div class="rule__field rule__name">
                          {{rule.name}}
                          <span class="rule__name_addons" v-if="rule.rule == 'entity'">({{rule.entityType}} / {{rule.count}}x)</span>
                          <span class="rule__name_addons" v-if="rule.rule == 'keyword'">({{rule.count}}x)</span>
                        </div>
                        <div class="rule__field">score: {{rule.score.toFixed(2)}}</div>
                        <div class="rule__field">threshold: {{rule.threshold}}</div>
                        <!-- To add a new column, change also index.css, class rule__detail, add an <fr> value for the new column
		                                <div class="rule__field rule__view">
		                                        <a class="rule__link" @click="viewInDoc(rule)">View in document</a>
		                                </div>
		 -->
                      </div>
                    </div>
                  </div>

                  <div class="rule__imageRules" v-for="image in filteredImagesRules()">
                    <div class="rule__section" v-if="image.rules.length">
                      <div class="rule__title">Image</div>
                      <div class="rule__value">
                        <a :href="image.url" target="_blank">
                          <!-- {{image.url}} -->
                          <i class="fas fa-link" style="margin-left: 0px;" :title="image.url"></i>
                        </a>
                      </div>

                      <div class="rule__image">
                        <a :href="image.url" target="_blank"><img :src="image.url" width="100px" align="left" style="margin-right:20px;" class="thumbnail"/></a>
                      </div>
                      <div class="rule" v-for="rule in image.rules">
                        <div
                          :class="{
			                                    'color-red': rule.rating === 'RED',
			                                    'color-amber': rule.rating === 'AMBER',
			                                    'color-green': rule.rating === 'GREEN',
			                                    'color-unknown': rule.rating === 'N/A'}"
                        ></div>
                        <div class="rule__detail">
                          <div class="rule__field">{{rule.rule}}</div>
                          <div class="rule__field rule__name">{{rule.className}}</div>
                          <div class="rule__field">score: {{rule.score.toFixed(2)}}</div>
                          <div class="rule__field">threshold: {{rule.threshold}}</div>
                          <!-- To add a new column, change also index.css, class rule__detail, add an <fr> value for the new column -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else>Nothing to display with current filters.</div>
                <div>
                  <div class="rule__textAsImage">Analyzed Text</div>
                  <div class="info__value" v-if="article && article.findings && article.findings.text && article.findings.text.analyzed_text">
                    {{article.findings.text.analyzed_text}}
                  </div>
                </div>
              </div>
              <div v-else>
                <div v-if="article.error">{{article.error}}</div>
                <div v-else>No article to be displayed</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>

    <script src="components/header/index.js"></script>
    <script src="components/footer/index.js"></script>
    <script src="./components/emotion/index.js"></script>
    <script src="analyzeUrl.js"></script>
  </body>
</html>
