<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>REACH Xandr mapping</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./stylesheets/common.css" />
    <link rel="stylesheet" href="./stylesheets/index.css" />
    <link rel="stylesheet" href="./stylesheets/header.css" />
    <link rel="stylesheet" href="./stylesheets/modal.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./vendor/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="api-util.js"></script>
  </head>

  <body>
    <div id="app">
      <app-header></app-header>

      <div class="container container-fluid">
        <h3 style="margin-bottom: 20px;">Marketplace mappings</h3>

        <!-- TODO Put upload modal here -->
        <!-- maybe we should create a nested component and modal sits in that component? -->
        <div class="container bg-white" style="padding: 20px">
          <div class="row">
            <div class="col-sm-12">
              <marketplace-upload-card v-bind:credentials="credentials" />
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-sm-12">
              <mappings-list v-bind:credentials="credentials" />
            </div>
          </div>

          <!-- TODO: possibly remove below as we not longer need it -->
          <!-- <div class="row">
            <div class="col-sm-12" v-if="selectedTable.insertEndpoint">
              <h5 style="margin-bottom: 20px; margin-top: 20px;">Insert into {{selectedTable.name}}:</h5>

              <div class="form-group" v-for="column in selectedTable.columns" :key="column.name" v-if="column.name !== 'id'">
                <p>{{ column.name}}:</p>
                <p v-if="column.type !== 'dropdown'">
                  <textarea :id="column.name" v-model="insertNewRecord[column.name]" class="form-control"></textarea>
                </p>
                <p v-if="column.type === 'dropdown'">
                  <select :id="column.name" v-model="insertNewRecord[column.name]" class="form-control">
                    <option v-for="option in column.options">{{option}}</option>
                  </select>
                </p>
              </div>
              <div v-if="message" class="alert alert-success">{{message}}</div>
              <div v-if="error" class="alert alert-danger">{{error}}</div>
              <button type="submit" :class="processClasses" @click="processInsert();">
                Submit
              </button>
            </div>
          </div> -->
        </div>
      </div>
      <app-footer></app-footer>
    </div>

    <script src="components/header/index.js"></script>
    <script src="components/footer/index.js"></script>

    <script src="components/modals/errorModal.js"></script>
    <script src="components/marketplace-mappings/upload/modal.js"></script>
    <script src="components/marketplace-mappings/upload/card.js"></script>
    <script src="components/marketplace-mappings/list.js"></script>
    <script src="components/marketplace-mappings/index.js"></script>
    <script src="components/manageRules/home.js"></script>
  </body>
</html>
