<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>REACH Article Ad-Safety Analyser Statistics</title>
    <link rel="stylesheet" href="./stylesheets/common.css" />
    <link rel="stylesheet" href="./stylesheets/index.css" />
    <link rel="stylesheet" href="./stylesheets/header.css" />
    <link rel="stylesheet" href="./stylesheets/modal.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./vendor/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="api-util.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="page">
        <div class="header">
          <div class="title">
            <img class="title__logo" src="./assets/M-Logo.jpg" />
            <span class="title__text">Article Ad-Safety Analyser - Statistics</span>
          </div>
        </div>

        <div class="sidebar">
          <a class="sidebar__link" href="analyzeUrl.html?admin=true">
            <div class="sidebar__item sidebar__back">
              <i class="fas fa-arrow-left"></i>
              <span>Articles</span>
            </div>
          </a>
          <a class="sidebar__link" href="manageRules.html">
            <div class="sidebar__item sidebar__tasks">
              <i class="fas fa-tasks"></i>
              <span>Manage Rules</span>
            </div>
          </a>

          <div class="info"></div>
        </div>

        <div class="main">
          <div class="stats_title">Statistics</div>
          <div class="stats_description">
            Comparison of calculated vs. expected ratings

            <div class="stats_customer" v-for="customer in getCustomers()">
              <p class="stats_customer__label"><span class="label">Customer:</span> <span class="stats_customer__customer">{{ customer }}</span></p>
              <p class="stats_customer__matches">
                <span class="label">Matches:</span> <span class="stats_customer__matches_pct">{{ getMatchPct(customer) }}%</span> ({{ getMatchCount(customer) }}
                of {{ getCount(customer) }} articles)
              </p>
              <div class="stats_confusion_matrix">
                <table>
                  <tr>
                    <th colspan="2">&nbsp;</th>
                    <th class="ratings" :colspan="getExpectedRatings().length">Expected ratings</th>
                    <th class="total">&nbsp;</th>
                  </tr>
                  <tr>
                    <th colspan="2">&nbsp;</th>
                    <th class="ratings" v-for="expectedRating in getExpectedRatings()">{{expectedRating ? expectedRating : "not set"}}</th>
                    <th class="total">total</th>
                  </tr>
                  <tr v-for="calculatedRating in getCalculatedRatings()">
                    <th class="ratings vertical" :rowspan="getCalculatedRatings().length" v-if="calculatedRating == 'RED'">Calculated</th>
                    <th class="ratings">{{ calculatedRating }}</th>
                    <th v-for="expectedRating in getExpectedRatings()" :class="{'match': calculatedRating == expectedRating, 'not_set': !expectedRating}">
                      {{ count(customer, calculatedRating, expectedRating) }}
                    </th>
                    <th class="total">{{ totalCalculated(customer, calculatedRating) }}</th>
                  </tr>
                  <tr>
                    <td class="total">&nbsp;</td>
                    <td class="total">Total</td>
                    <td class="total" v-for="expectedRating in getExpectedRatings()" :class="{'not_set': !expectedRating}">
                      {{ totalExpected(customer, expectedRating) }}
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="showStats.js"></script>
  </body>
</html>
